!!! 5
%html
  %body
    %header
      %h1 Hello Shay
      %img(src="shay-howe.jpg" alt="Shay Howe")
    %section
      %p Lorem ipsum dolor sit amet.
      %input(type="checkbox" checked)
    %section.feature.special#hello
      %h2 Hey Dere
      %p This is some super special text
    %p
      Shay is
      = succeed "." do
        %a(href="#") awesome